In [15]:
#Let's create a datframe --->

#Importing the necessary libraries
import pandas as pd
import numpy as np

#df stands fro dataframe
df = pd.Series(['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan,'Pratap'])

print(df)

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5         NaN
6      Pratap
dtype: object

In [16]:
#we can change the dtype after creation of dataframe
print(df.astype('string'))

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5        <NA>
6      Pratap
dtype: string

In [11]:
#now creating the dataframe as dtype = 'string'
df = pd.Series(['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan,'Pratap'], dtype='string')

print(df)

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5        <NA>
6      Pratap
dtype: string

In [12]:
#now creating the dataframe as dtype = pd.StringDtype()
df = pd.Series(['Gulshan', 'Shashank', 'Bablu', 'Abhishek', 'Anand', np.nan,'Pratap'], dtype=pd.StringDtype())

print(df)

0     Gulshan
1    Shashank
2       Bablu
3    Abhishek
4       Anand
5        <NA>
6      Pratap
dtype: string

In [28]:
import pandas as pd
import numpy as np

df = pd.Series(['night_fury1', 'Is  ', 'Geeks, forgeeks', '100', np.nan, '  Contributor '])
df

0        night_fury1
1               Is
2    Geeks, forgeeks
3                100
4                NaN
5       Contributor
dtype: object

In [20]:
#lower()
print(df.str.lower())

0        night_fury1
1               is
2    geeks, forgeeks
3                100
4                NaN
5       contributor
dtype: object

In [21]:
#upper()
print(df.str.upper())

0        NIGHT_FURY1
1               IS
2    GEEKS, FORGEEKS
3                100
4                NaN
5       CONTRIBUTOR
dtype: object

In [22]:
#strip()
print(df)
print('\nAfter using the strip:')
print(df.str.strip())

0        night_fury1
1               Is
2    Geeks, forgeeks
3                100
4                NaN
5       Contributor
dtype: object

After using the strip:
0        night_fury1
1                 Is
2    Geeks, forgeeks
3                100
4                NaN
5        Contributor
dtype: object

In [29]:
#split(pattern)
print(df)
print('\nAfter using the strip:')
print(df.str.split(','))

#now we can use [] or get() to fetch the index values
print('\nusing []:')
print(df.str.split(',').str[0])
print('\nusing get():')
print(df.str.split(',').str.get(1))

0        night_fury1
1               Is
2    Geeks, forgeeks
3                100
4                NaN
5       Contributor
dtype: object

After using the strip:
0         [night_fury1]
1                [Is  ]
2    [Geeks,  forgeeks]
3                 [100]
4                   NaN
5      [  Contributor ]
dtype: object

using []:
0       night_fury1
1              Is
2             Geeks
3               100
4               NaN
5      Contributor
dtype: object

using get():
0          NaN
1          NaN
2     forgeeks
3          NaN
4          NaN
5          NaN
dtype: object

In [30]:
#len()
print("length of the dataframe: ", len(df))
print("length of each value of dataframe:")
print(df.str.len())

length of the dataframe:  6
length of each value of dataframe:
0    11.0
1     4.0
2    15.0
3     3.0
4     NaN
5    14.0
dtype: float64

In [31]:
#cat(sep=pattern)
print(df)
print("\nafter using cat:")
print(df.str.cat(sep='_'))
print("\nworking with NaN using cat:")
print(df.str.cat(sep='_', na_rep='#'))

0        night_fury1
1               Is
2    Geeks, forgeeks
3                100
4                NaN
5       Contributor
dtype: object

after using cat:
night_fury1_Is  _Geeks, forgeeks_100_  Contributor

working with NaN using cat:
night_fury1_Is  _Geeks, forgeeks_100_#_  Contributor

In [32]:
#get_dummies()
print(df.str.get_dummies())

     Contributor   100  Geeks, forgeeks  Is    night_fury1
0               0    0                0     0            1
1               0    0                0     1            0
2               0    0                1     0            0
3               0    1                0     0            0
4               0    0                0     0            0
5               1    0                0     0            0

In [33]:
#startswith(pattern)
print(df.str.startswith('G'))

0    False
1    False
2     True
3    False
4      NaN
5    False
dtype: object

In [34]:
#endswith(pattern)
print(df.str.endswith('1'))

0     True
1    False
2    False
3    False
4      NaN
5    False
dtype: object

In [35]:
#replace(a,b)
print(df)
print("\nAfter using replace:")
print(df.str.replace('Geeks', 'Gulshan'))

0        night_fury1
1               Is
2    Geeks, forgeeks
3                100
4                NaN
5       Contributor
dtype: object

After using replace:
0          night_fury1
1                 Is
2    Gulshan, forgeeks
3                  100
4                  NaN
5         Contributor
dtype: object

In [36]:
#repeat(value)
print(df.str.repeat(2))

0            night_fury1night_fury1
1                          Is  Is
2    Geeks, forgeeksGeeks, forgeeks
3                            100100
4                               NaN
5        Contributor   Contributor
dtype: object

In [37]:
#count(pattern)
print(df.str.count('n'))

0    1.0
1    0.0
2    0.0
3    0.0
4    NaN
5    1.0
dtype: float64

In [38]:
#find(pattern)
print(df.str.find('n'))    #in result '-1' indicates there is no value matching with given pattern in particular row

0    0.0
1   -1.0
2   -1.0
3   -1.0
4    NaN
5    4.0
dtype: float64

In [39]:
#findall(pattern)
print(df.str.findall('n'))  #in result [] indicates null list as there is no value matching with given pattern in particular row

0    [n]
1     []
2     []
3     []
4    NaN
5    [n]
dtype: object

In [40]:
#islower()
print(df.str.islower())

0     True
1    False
2    False
3    False
4      NaN
5    False
dtype: object

In [41]:
#isupper()
print(df.str.isupper()) # as no value in uppercase

0    False
1    False
2    False
3    False
4      NaN
5    False
dtype: object

In [42]:
#isnumeric()
print(df.str.isnumeric())

0    False
1    False
2    False
3     True
4      NaN
5    False
dtype: object

In [43]:
#swapcase()
print(df.str.swapcase())

0        NIGHT_FURY1
1               iS
2    gEEKS, FORGEEKS
3                100
4                NaN
5       cONTRIBUTOR
dtype: object